@font-face {
  font-family: "Sonic";
  src: url("fonts/f37sonicbold.woff") format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  background: url('img/swoosh.jpg') center center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  font-family: Sonic;
  font-weight: bold;
  text-align: center;
}

h1, h2 {
  font-size: 2rem;
}

.extracting {
  text-align: center;
  margin-top: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.logo img {
  height: 40px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 1rem;
}

main {
  max-width: 1280px;
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

form {
  display: flex;
  align-items: center;
  width: 100%
}

input[type="url"] {
  height: 96px;
  flex-grow: 1;
  width: 800px;
  padding: 0 2.5rem;
  font-size: 1.5rem;
  border-radius: 999px;
  background: none;
  border: 1px solid #ccc;
  transition: border 300ms;
}

input:focus {
  background: none;
  border: 1px solid #6029CD;
}

@media (max-width: 800px) {
  input {
    width: 100%;
  }
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 66px;
  width: 66px;
  margin-left: -86px;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  background-color: #6029CD;
  transition: background-color 300ms
}

button:hover {
  background-color: #530BBB;
}

.loading-indicator {
  width: 50px;
  height: 50px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #6c5ce7;
  border-radius: 50%;
  animation: spin 1.5s ease-in-out infinite;
  margin: 1rem auto 2rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#briefing-ideas {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  margin-top: 36px;
}

.briefing-idea {
  background-color: transparent;
  max-width: 314px;
  flex-grow: 1;
  padding: 36px 48px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 300ms;
}

.briefing-idea:hover {
  background-color: rgba(54, 5, 135, 0.04);
}

#full-briefing {
  margin-top: 1rem;
}

#publish-briefing {
  display: block;
  margin-top: 1rem;
  width: 100%;
}